/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

* {margin:0;padding:0}
img, fieldset {padding:0;border:none;margin:0;line-height:0}
a {color:#fff;text-decoration:none;font-weight:bold}
a:hover {text-decoration:none;color:#00ebc7}
h3 {font:18px Arial, Helvetica, sans-serif;color:#fff;font-weight:normal;text-align:center;padding-bottom:5px}
h2 {font:14px Arial, Helvetica, sans-serif;font-weight:bold;color:#006;padding-bottom:15px;font-size:16px}
body {font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:17px;color:#fff;background:#0a6a5b url(images/bg.jpg)}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.clear {clear:both}
#bg_black {background:url(images/bg_black.png) repeat-x top}
/* wrap */
#wrap {border:22px solid #fff;width:1032px;margin:0 auto;background:#fff}
/* header */
#header {background:url(images/header.jpg) no-repeat top left;width:1032px;height:317px}
/* menu */
#menu {background:url(images/menu_bg.jpg) repeat-x top;height:83px;text-align:center}
#menu ul {padding-left:0;list-style:none;width:800px;margin:0 auto}
#menu ul li {display:inline}
#menu ul li a {font:24px Arial, Helvetica, sans-serif;color:#fff;text-align:center;font-weight:normal;text-decoration:none;display:block;float:left;width:160px;height:83px;line-height:83px}
#menu ul li a:hover, #menu ul li .active {color:#FF0}
/*logo*/
#logo {width:1076px;margin:0 auto;height:82px;padding-top:30px}
#logo h1 a {font:14px Arial, Helvetica, sans-serif;color:#fff;font-weight:bold;text-decoration:none}
#logo a small {font:12px Arial, Helvetica, sans-serif;color:#fff;font-weight:normal;text-decoration:none}
/* 3 column box top */
#column_box {padding:24px 32px 0 32px}
#column1, #column2, #column3 {width:260px;float:left;background:url(images/bg_col_top.jpg) no-repeat top left;height:168px;padding:32px 20px 14px 20px}
#column2 {margin:0px 31px 0 35px}
#column_box .read {width:128px;height:34px;display:block;text-align:center;font:18px Arial, Helvetica, sans-serif;color:#006;line-height:34px;font-weight:normal;margin-top:15px}
/* last box */
#last_box {background:url(images/last_box200px.jpg) no-repeat left top;height:200px;margin-top:10px}
#last_box p {color:#666}
#last_box p a {font-weight:bold;color:#006;font-size:14px}
/* footer_top */
#footer_top_top {background:url(images/footer_top_top.jpg) no-repeat top left;height:24px;margin-top:17px}
#footer_top_bot {background:url(images/footer_top_bot.jpg) no-repeat top left;height:27px}
#footer_repeat {background:#171c20 url(images/footer_top_repeat.jpg) repeat-x top;min-height:249px}
#footer_top {width:841px;margin:0 auto;padding-top:18px;background:url(images/footer_top_border.png) no-repeat bottom left}
#footer_top a {color:#fff;font-weight:bold}
#footer_top a:hover {color:#38bda2}
#footer_top p {color:#fff;line-height:20px}
#footer_column1, #footer_column2, #footer_column3 {width:226px;float:left}
.footer_text {background:url(images/footer_top_border.png) no-repeat top left;width:226px;padding:10px 0 10px 0px}
#footer_column2 {padding:0px 87px 0 75px}
.foot_pad {padding-left:45px;padding-top:10px}
.link1 {background:url(images/link1.png) no-repeat 0 2px;padding-left:30px;min-height:18px;padding-bottom:10px}
.link2 {background:url(images/link2.png) no-repeat 0 2px;padding-left:30px;min-height:18px;padding-bottom:10px}
.link3 {background:url(images/link3.png) no-repeat 0 2px;padding-left:30px;min-height:18px;padding-bottom:10px}
.link4 {background:url(images/link4.png) no-repeat 0 2px;padding-left:30px;min-height:18px;padding-bottom:10px}
.ls {list-style:none;padding-left:0}
.ls li {background:url(images/ls1.gif) no-repeat 0 6px;margin-bottom:8px;padding-left:15px}
/* footer_bot */
#footer_bot {padding:25px;text-align:center}
/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By:Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/
#slider-wrapper {background:url(images/top.jpg) no-repeat;width:1032px;height:317px;margin:0 auto}
#slider {position:relative;width:1032px;height:317px;background:url(images/loading.gif) no-repeat 50% 50%}
#slider img {position:absolute;top:0;left:0;display:none}
#slider a {border:0;display:block}
.nivo-controlNav {position:absolute;left:260px;bottom:-42px;display:none}
.nivo-controlNav a {display:block;width:22px;height:22px;background:url(images/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left}
.nivo-controlNav a.active {background-position:0 -22px}
.nivo-directionNav a {display:block;width:30px;height:30px;background:url(images/arrows.png) no-repeat;text-indent:-9999px;border:0}
a.nivo-nextNav {background-position:-30px 0;right:15px}
a.nivo-prevNav {left:15px}
.nivo-caption {text-shadow:none;font-family:Helvetica, Arial, sans-serif}
.nivo-caption a {color:#efe9d1;text-decoration:underline}
.gelb {color:#FFC}
#bg_black #wrap #last_box table tr td {color:#333}